# Handling Duplicate values

In [19]:
import pandas as pd

data = {
    "name": ["a", "b", "c", "d", "a", "c"],
    "Eng": [8, 7, 4, 8, 8, 4],
    "Hindi": [2, 3, 4, 5, 2, 4]
}

df = pd.DataFrame(data)
df

# df["dupli"]=df.duplicated()
# df

  name  Eng  Hindi
0    a    8      2
1    b    7      3
2    c    4      4
3    d    8      5
4    a    8      2
5    c    4      4

### here the duplicate rows are 0 and 4 (a,8,2) and 2 and 5 c,4,4

In [22]:
df.drop_duplicates(inplace =True)
df

  name  Eng  Hindi
0    a    8      2
1    b    7      3
2    c    4      4
3    d    8      5